<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trabajo Final JS - Contact</title>
    <!-- estilos -->
    <!-- bootstrap  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <!-- lightbox2 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.4/css/lightbox.min.css" rel="stylesheet">
    <!-- mis estilos -->
    <link rel="stylesheet" href="/Trabajo-obligatorio-js/styles/estilos.css">
</head>

<body>
    <!-- codigo de la parte sup -->
    <header class="fixed-top">
        <div class="container-fluid">
            <div class="row parte-sup">
                <!-- codigo del logo -->
                <div class="col-1 columna-logo">
                    <div class="img-container">
                        <a href="/Trabajo-obligatorio-js/index.html">
                            <img class="img-logo" alt="Logo Nicolás Vidal" src="/Trabajo-obligatorio-js/assets/img/logo.png">
                        </a>
                    </div>
                </div>
                <!-- codigo del nombre -->
                <div class="col-2 columna-nombre">
                    <div class="nombre-container">
                        <a class="nombre" href="/Trabajo-obligatorio-js/index.html"> Nicolás Vidal</a>
                    </div>
                </div>
                <div class="col-5 "></div>
                <!-- codigo del navbar -->
                <div class="col-4 columna-links">
                    <nav class="navbar navbar-expand-lg bg-body-primary">
                        <div class="container-fluid">
                            <div class="collapse navbar-collapse" id="navbarNav">
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a class="nav-link" href="/Trabajo-obligatorio-js/index.html">INICIO</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" href="/Trabajo-obligatorio-js/views/galeria.html">GALERÍA</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/Trabajo-obligatorio-js/views/presupuesto.html">PRESUPUESTO</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/Trabajo-obligatorio-js/views/contacto.html">CONTACTO</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <main>
        <!-- intro-galeria -->
        <section class="intro-galeria">
            <div class="container-fluid">
                <div class="row parte-intro-galeria">
                    <div class="col-2"></div>
                    <div class="col-8 columna-texto-galeria">
                        <section class="linea-texto">
                            <div class="linea"></div>
                            <span> NUESTROS TRABAJOS</span>
                            <div class="linea"></div>
                        </section>
                    </div>
                    <div class="col-2"></div>
                </div>
            </div>
        </section>
        <!-- galeria -->
        <section class="galeria">
            <div class="container-fluid">
                <div class="row parte-galeria">
                    <div class="col-2"></div>
                    <!-- foto-1  -->
                    <div class="col-4 columna-galeria">
                        <div class="img-container-galeria">
                            <a href="/Trabajo-obligatorio-js/assets/img/galeria1.jpg" data-lightbox="galeria"
                                data-title="Web de un restaurante">
                                <img class="img-galeria" src="/Trabajo-obligatorio-js/assets/img/galeria1.jpg" alt="imagen de la pagina web de un restaurante">
                            </a>
                        </div>
                    </div>
                    <!-- foto-2  -->
                    <div class="col-4 columna-galeria">
                        <div class="img-container-galeria">
                            <a href="/Trabajo-obligatorio-js/assets/img/galeria2.jpg" data-lightbox="galeria"
                                data-title="Web con sistema de Usuarios">
                                <img class="img-galeria" src="/Trabajo-obligatorio-js/assets/img/galeria2.jpg" alt="imagen de la pagina web con sistema de Usuarios">
                            </a>
                        </div>
                    </div>
                    <div class="col-2"></div>
                </div>
                <!-- foto-3  -->
                <div class="row parte-galeria">
                    <div class="col-2"></div>
                    <div class="col-4 columna-galeria">
                        <div class="img-container-galeria">
                            <a href="/Trabajo-obligatorio-js/assets/img/galeria3.jpg" data-lightbox="galeria"
                                data-title="Web con formularios para planes / subscripciones">
                                <img class="img-galeria" src="/Trabajo-obligatorio-js/assets/img/galeria3.jpg" alt="imagen de la pagina web con planes seleccionables">
                            </a>
                        </div>
                    </div>
                    <!-- foto-4  -->
                    <div class="col-4 columna-galeria">
                        <div class="img-container-galeria">
                            <a href="/Trabajo-obligatorio-js/assets/img/galeria4.jpg" data-lightbox="galeria"
                                data-title="Web simple con imformacion por secciones y reservas">
                                <img class="img-galeria" src="/Trabajo-obligatorio-js/assets/img/galeria4.jpg" alt="imagen de la pagina web con sistema de reservas">
                            </a>
                        </div>
                    </div>
                    <div class="col-2"></div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="container-fluid">
            <div class="row parte-footer">
                <div class="col-1"></div>
                <div class="col-1">
                    <div class="img-container-footer">
                        <a href="https://www.instagram.com/masterdformacion/?hl=es" target="_blank">
                            <img class="logo-ig" src="/Trabajo-obligatorio-js/assets/img/logo-ig.2.0.png" alt="logo de instagram">
                        </a>
                    </div>
                </div>
                <div class="col-1">
                    <div class="img-container-footer">
                        <a href="https://github.com/D3F4UL7dude" target="_blank">
                            <img class="logo-git" src="/Trabajo-obligatorio-js/assets/img/git-hub.png" alt="logo de github">
                        </a>
                    </div>
                </div>
                <div class="col-1">
                    <div class="img-container-footer">
                        <a href="https://wa.me/34692670308?text=Hola,%20me%20gustaria%20informació%20sobre%20un%20producto"
                            target="_blank">
                            <img class="logo-wpp" src="/Trabajo-obligatorio-js/assets/img/logo-wpp.2.0.png" alt="logo de whatsapp">
                        </a>
                    </div>
                </div>
                <div class="col-1"></div>
                <div class="col-3 disclaimer-footer">
                    <p class="p-disclaimer">Nicolas Vidal. Copyright©. Todos los derechos reservados.</p>
                </div>
                <div class="col-2"></div>
                <div class="col-2 disclaimer-footer">
                    <p class="p-disclaimer">12598, C.Blasco Ibañez 13</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- scripts -->
    <!-- bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
        crossorigin="anonymous"></script>
    <!-- jquery -->
    <script src="/Trabajo-obligatorio-js/scripts/jquery-3.7.1.min.js"></script>
    <!-- lightbox2 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.4/js/lightbox.min.js"></script>
</body>

</html>